#guide {
    background-color: rgba(255,0,0,.2);
    position: absolute;
    left: 100px;
    top: 100px;
    width: 3px;
    height: 3px;
}
span {
    display: block;
    background-color: rgba(255,255,50, .6);
}

#viewport {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 550px;
    height: 500px;
    background-color: #eee;
}
#viewport > div {
    border: 1px solid #bbb;
}

#viewport.rs2d {
}
#viewport.rs2d > div {
}

#viewport.rs3d {
    -webkit-perspective: 500;
    -webkit-perspective-origin: 50% 50%;
}
#viewport.rs3d > div {
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: visible;
    /*-webkit-transition: 2s;*/
}

.rs2d #s0 {
    -webkit-transform-origin: 500px 200px;
    -webkit-transform: translateX(130px);
}

.rs2d #s1 {
    -webkit-transform: translateY(30px) rotate(45deg) translateX(100px);
    -webkit-transform: translateX(100px) rotate(-30deg);
}

.rs3d #s0 {
    -webkit-transform: rotate(30deg);
}

.rs3d #s2 {
    -webkit-transform: rotate3d(.2, .5, .8, 60deg);
}



#parent, #s2-1-0 {
    display: inline-block;
    background-color: #c00;
    width: 150px;
    height: 150px;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(.5) rotate(30deg) skewX(50deg) translateZ(0px);
}
#s2 {
    -webkit-transform: scale(.5);
  
}
#child, #s2-1 {
    display: inline-block;
    background-color: #0c0;
    margin-top: 100px;
    width: 150px;
    height: 50px;
    -webkit-transform-origin: 0% 0%;
    -webkit-transform: rotate(130deg) scale(.9) skewX(-20deg);
}

#p {
    position: absolute;
    width: 1px;
    height: 1px;
    left: 10px;
    top: 30px;
    background-color: black;
}
