img {
	border: 1px solid black;
}

#Div1,
#slideIt {
	width: 701px;
	height: 501px;
	position: relative;
	left: 342px;
	top: 6px;
	opacity: 0.7;
}

#Div1 {
	width: 1000px;
	height: 700px;
	top: 600px;
}

#e {
	position: absolute;
	background-color: #ddd;
    border: 1px solid black;
	_left: 15%;
	_top: 20%;
    _right: 20%;
    _bottom: 50%;
    
	left: 15px;
	top: 200px;
    width: 820px;
    height: 300px;
    
    
    left: 5px;
    top: 120px;
    width: 950px;
    height: 250px;
}

#xm {
    background-color: #999;
}

#cover {
    width: 450px;
    height: 250px;
    position: absolute;
	left: 5px;
	top: 120px;
	background-image: url(cover.png);
}
#shade {
    position: absolute;
	width: 650px;
	height: 450px;
	left: 5px;
	top: 100px;
	/*-moz-box-shadow: inset 0 0 20px #222;
    -webkit-box-shadow: inset 0 0 20px #222;
*/    
box-shadow: inset 0 0 20px 5px #333;
}

#e img {
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
}

#container {
	width: 300px;
	height: 350px;
}

#f1 {
    margin-left: -100px;    
    margin-top: -100px;
    -webkit-transform: rotate(-30deg) scaleY(4);
    -moz-transform: rotate(-30deg) scaleY(4);
    -o-transform: rotate(-30deg) scaleY(4);
    -ms-transform: rotate(-30deg) scaleY(4);
    transform: rotate(-30deg) scaleY(4);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.966, M12=2, M21=-0.5, M22=3.464, SizingMethod='auto expand')";
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.866, M12=2, M21=-0.5, M22=3.464, SizingMethod='auto expand');
}

#maiden {

    -webkit-transform: rotate(30deg) skewX(5deg) translateX(200px);
    -moz-transform: rotate(30deg) skewX(5deg) translateX(200px);
    -o-transform: rotate(30deg) skewX(5deg) translateX(200px);
    -ms-transform: rotate(30deg) skewX(5deg) translateX(200px);
    transform: rotate(30deg) skewX(5deg) translateX(200px);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.866, M12=-0.424, M21=0.5, M22=0.9097, SizingMethod='auto expand')";
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.866, M12=-0.424, M21=0.5, M22=0.9097, SizingMethod='auto expand');
    margin-left: 200px;
}

#youtube2 {
    -webkit-transform: rotate(-250deg) skewY(10deg);
    -moz-transform: rotate(-250deg) skewY(10deg);
    -o-transform: rotate(-250deg) skewY(10deg);
    -ms-transform: rotate(-250deg) skewY(10deg);
    transform: rotate(-250deg) skewY(10deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-0.507, M12=-0.94, M21=0.879, M22=-0.342, SizingMethod='auto expand')";
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=-0.507, M12=-0.94, M21=0.879, M22=-0.342, SizingMethod='auto expand');
}

#cristine {
    -webkit-transform: skewX(2deg) scaleX(2) skewY(-10deg);
    -moz-transform: skewX(2deg) scaleX(2) skewY(-10deg);
    -o-transform: skewX(2deg) scaleX(2) skewY(-10deg);
    -ms-transform: skewX(2deg) scaleX(2) skewY(-10deg);
    transform: skewX(2deg) scaleX(2) skewY(-10deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.994, M12=0.035, M21=-0.1763, M22=1, SizingMethod='auto expand')";
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.994, M12=0.035, M21=-0.1763, M22=1, SizingMethod='auto expand');
    margin-left: 350px;
    margin-right: 50px;
}

.slide {
	border: 1px solid blue;
}
/*

#youtube, #dyoutube {
    -webkit-transform: rotate(230deg);
    -moz-transform: rotate(230deg);
    -o-transform: rotate(230deg);
    -ms-transform: rotate(230deg);
    transform: rotate(230deg);
    
    width: 110px;
    height: 55px;
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=-0.642, M12=0.766, M21=-0.766, M22=-0.642, SizingMethod = "auto expand");
}
#i0, #dyoutube {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.866, M12=-0.5, M21=0.5, M22=0.866, SizingMethod = "auto expand");
    xxfilter: progid:DXImageTransform.Microsoft.Matrix(M11=-0.642, M12=0.766, M21=-0.766, M22=-0.642, SizingMethod = "auto expand");
}
*/

#dyofutube {
    position: absolute;
    top: 90px;
    left: 10px;
}

#_cristine {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

#__cristine {
	margin-left: 50px;
}

#p1 {
	background-color: Yellow;
}

#slideIt img {
	margin: 2px;
	padding: 10px;
	border: 1px red solid;
	background-color: #eee;
	z-index: 0;
	opacity: 0.2;
}

#slideIt p {
    display: none;
}

#caption {
    opacity: 0.4;
    color: black;
    background-color: gray;
    position: absolute;
    z-index: 10;
    top: 550px;
    left: 10px;
    width: 300px;
    height: 50px;
}

#detail1 {
    position: absolute;
    visibility: hidden;
    left: 190px;
    top: 180px;
    width: 200px;
    height: 350px;
}

#detail2 {
    position: absolute;
    visibility: hidden;
    left: 560px;
    top: 355px;
    width: 115px;
    height: 45px;
}

#out, #out2, #out3, #out4, #out5, #out6 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 350px;
    background-color: #ffe;
    font-size: 0.8em;
    border: 1px dotted grey;
}
#out2 { top: 60px; }
#out3 { top: 130px; }
#out4 { top: 190px; }
#out5 { top: 250px; }
#out6 { top: 450px; }


#__ce {
background:url(http://www.w3schools.com/css3/img_flwr.gif);
background-size:80px 60px;
background-repeat:repeat;
}




#overviewDiv {
    position: absolute;
    width: 120px;
    height: 59px;
    left: 550px;
    top: 600px;
    border: 1px dotted gray;
}

#overviewDiv .content,
#overviewDiv .viewport {
    position: absolute;
}

#overviewDiv .content {
    border: 1px dotted Orange;
	cursor: crosshair;
}

#overviewDiv .viewport {
    background-color: blue;
    
    filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	
	cursor: move;
	z-index: 1;
}

#back {
    background-color: Black;
    position: absolute;
}



#ce > div {
    border: 5px dotted black;
}

#btnYoutube2 {
-webkit-appearance: media-play-button;
}

#debug {
    position: absolute;
    width: 3px;
    height: 3px;
    border: 1px red solid;
}

        #debug1,
        #debug2,
        #debug3,
        #debug4,
        #debugCenter {
            border: 1px solid yellow;
            width: 3px;
            height: 3px;
            position: absolute;
        }

        #debug2 {
            border-color: red;
        }
        #debug3 {
            border-color: blue;
        }
        #debug4 {
            border-color: magenta;
        }
        #debugCenter {
            border-color: green;
        }
        
        #dot0,
        #dot1,
        #dot2,
        #dot3,
        #dot4,
        #dot5,
        #dot6,
        #dot7,
        #dot8,
        #dot9,
        #dot10,
        #dot11,
        #dot12,
        #dot13,
        #dot14,
        #dot15,
        #dot16,
        #dot17,
        #dot18,
        #dot19,
        #dot20,
        #dot21,
        #dot22,
        #dot23,
        #dot24,
        #dot25,
        #dot26,
        #dot27,
        #dot28,
        #dot29,
        #dot30,
        #dot31,
        #dot32,
        #dot33,
        #dot34,
        #dot35,
        #dot36,
        #dot37,
        #dot38,
        #dot39,
        #dot40,
        #dot41,
        #dot42,
        #dot43,
        #dot44,
        #dot45,
        #dot46,
        #dot47,
        #dot48,
        #dot50,
        
        #dotcenter   {
            border: solid 1px #033;
            width: 3px;
            height: 3px;
            font-size: 7pt;
            color: #033;
            position: absolute;
            text-shadow: -1px 1px yellow, 1px -1px yellow, -1px 1px yellow, -1px -1px yellow;
        }
        
        #dotcenter {
            border-color: red;
        }
#out2 {
    font-size: 8pt;
}

#dyoutube {
    position: absolute;
    top: 200px;
    left: 10px;
}

.detail {
    left: 20px;
    top: 5px;
    width: 50px;
    height: 50px;
    border: 1px red solid;
    -webkit-transform: rotate(-300deg);
    -moz-transform: rotate(-300deg);
    -o-transform: rotate(-300deg);
    -ms-transform: rotate(-300deg);
    transform: rotate(-300deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.5, M12=-0.866, M21=0.866, M22=0.5, SizingMethod = "auto expand");
}

.r {
    position: absolute;
    border: 1px dotted red;
}
.r.last {
    border-style: solid;
}






#youtube {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    
    width: 110px;
    height: 55px;
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=1, M21=-1, M22=0, SizingMethod = "auto expand");
}

#i0, #dyoutube {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}


#overviewDiv,
#slideIt {
    display: none;
}

#extra {
    font-size: 8pt;
}
